/* в этом файле хранятся глобальные стили для всех страниц */
:root {
  --background-color: #343d4b;
  --app-color: #222831;
  --primary-color: #ffffff;
  --placeholder-text-color: #3f4958;
  --black-color: #000000;
  --card-background-color: #272e37;
  --gradient-color: linear-gradient(
    131deg,
    rgba(144, 217, 224, 0.9) 0%,
    rgba(84, 96, 230, 0.9) 100%
  );
  --inverted-gradient-color: linear-gradient(
    262deg,
    rgba(84, 96, 230, 0.9) 0%,
    rgba(144, 217, 224, 0.9) 100%
  );
  --font: "Montserrat", sans-serif;
}

*{
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font);
  background-color: var(--background-color);
  color: var(--primary-color);
}
